#post-results {
  font-family: $font-family-generated-post;
  h1 {
    font-weight: 400;
  }
  h2, h3, h4, h5, h6 {
    font-weight: 300;
  }
}
#optionsTabs {
  position: sticky;
  top: -16px;
  z-index: 1;
  border-bottom: none;
  background-color: rgb(248, 249, 250);
  .nav-link {
    margin-bottom: -2px;
  }
}
