<%= turbo_frame_tag('post-builder') do %>
  <div class="wall__heading pb-0">
    <%= h(tag: 'h2', classes: 'lead fw-bold') do %>
      <i class="bi bi-info-square"></i> Tips and Best Practices
    <% end %>
  </div>
  <%= card(classes: 'shadow-sm') do %>
    While Awesome-o is incredibly talented at writing SEO friendly blog post with little direction, the more info you provide, the higher probablity of you getting a more precise post! Below are some helpful tips and best practices to help you, help Awesome-o!
  <% end %>
<% end %>
