<%= container do %>
  <%= h(tag: 'h1', text: 'Welcome to Awesome-o', classes: 'mt-5') %>
  <p>Awesome-o is your AI robot to help you!</p>
  <%= link_to('Get started', blog_contents_path) %>
<% end %>
