<%= link_to(root_path) do %>
  <div id="awesome-o-container">
    <div id="awesome-o">
      <div class="awesome-o__accessories">
        <div class="accessories--antena1"></div>
        <div class="accessories--antena2"></div>
        <div class="accessories--lights">
          <div class="lights-red">
            <div class="red-light"></div>
            <div class="base"></div>
          </div>
          <div class="lights-green">
            <div class="green-light"></div>
            <div class="base"></div>
          </div>
        </div>
        <div class="accessories--ear">
        </div>
      </div>
      <div class="awesome-o__buttons">
        <div class="button button--blue"></div>
        <div class="button button--yellow"></div>
        <div class="button button--orange"></div>
      </div>
      <div class="awesome-o__eyes">
        <div class="eye eye--left"></div>
        <div class="eye eye--right"></div>
      </div>
      <div class="awesome-o__mouth">
        <div class="awesome-o__grill">
          <div class="grill grill--1"></div>
          <div class="grill grill--2"></div>
          <div class="grill grill--3"></div>
          <div class="grill grill--4"></div>
        </div>
      </div>
    </div>
    <div>awesome-o</div>
  </div>
<% end %>
