$padding: 1rem;

.walls {
  display: flex;
  overflow-y: hidden;

  .wall {
    height: calc(100vh - 4.625rem);
    display: flex;
    flex-direction: column;

    &>* {
      padding: $padding;
    }

    &__body {
      flex-grow: 1;
      overflow-y: scroll;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--controls {
      flex: 0 1 22.375rem;
      background-color: #ffffff;

      span[aria-expanded="true"] i:before {
        content: '\F27C';
      }
    }

    &--content {
      flex: 0 1 50%;
    }

    &--activity {
      flex: 1 1 25%;
    }
  }
}
