.layout {
  display: flex;

  &__create {
    height: calc(100vh - 4.125rem);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 5.25rem;

    .create-panel {
      height: 100%;
      width: 100%;
      border-radius: 0;
      border: none;
    }
  }
}
