// colors
$primary_light: #fbfcfd;
$primary_dark: #384555;
$primary_green: #10a37f;

$success: $primary_green;
$primary: #2e95d3;

$font-family-sans-serif: 'Comfortaa',
  -apple-system,
  system-ui,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;

$font-family-generated-post: 'Roboto',
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  'Segoe UI Symbol',
  "Noto Color Emoji";

// actions
$primary_transition: all 200ms;

$border-radius: .125rem;

$form-range-track-bg: #dee2e6;
